@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<div class="view"
    style="background-image: url('img/working-with-us-bg-low-res.jpg'); background-repeat: no-repeat; background-size: cover;">
    <div class="mask d-flex justify-content-center align-items-center"
            style="background-color: hsla(0, 0%, 0%, 0.5); height: 100%;">
        <div class="container">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                    <h1 class="text-center text-white">Welcome to Alliance Software!</h1>
                    <h4 class="text-center text-white">Find jobs with us! We excel in IT industry!</h4>
                    <!-- <div class="form-outline form-white" id="searchFormOutline">
                        <i class="fa-solid fa-magnifying-glass trailing"></i>
                        <input type="text" id="searchFormControl" class="form-control form-control-lg" />
                        <label class="form-label" for="searchFormControl">Search Job Openings</label>
                    </div> -->
                    <div class="input-group mb-3" id="searchFormOutline">
                        <span class="input-group-text"><i class="fa-solid fa-magnifying-glass trailing"></i></span>
                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                    </div>
                    <div class="row mt-3">
                        <div class="col-3"></div>
                        <div class="d-grid col-3 mx-auto">
                            <button class="btn btn-outline-primary home-search-btn" type="button">Search</button>
                        </div>
                        <div class="d-grid col-3 mx-auto">
                            <button class="btn btn-outline-primary home-search-btn" type="button">Advance Search</button>
                        </div>
                        <div class="col-3"></div>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <main role="main" class="pb-4" style="height: 100%; padding-top: 2rem;">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="text-center">Top Viewed Job Openings</h3>
                    <div class="vstack gap-2">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">IT Sales Associate</h4>
                                <div class="hstack gap-2">
                                    <div class="chip">
                                        <i class="fa-solid fa-money-bills me-2"></i>
                                        <span>Php 30,000 a month</span>
                                    </div>
                                    <div class="chip">
                                        <i class="fa-solid fa-briefcase me-2"></i>
                                        <span>Full-time</span>
                                    </div>
                                    <div class="chip">
                                        <i class="fa-solid fa-clock me-2"></i>
                                        <span>8 hour shift</span>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-danger btn-apply-now mt-2">Apply Now!</button>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">IT Sales Associate</h4>
                                <div class="hstack gap-2">
                                    <div class="chip">
                                        <i class="fa-solid fa-money-bills me-2"></i>
                                        <span>Php 30,000 a month</span>
                                    </div>
                                    <div class="chip">
                                        <i class="fa-solid fa-briefcase me-2"></i>
                                        <span>Full-time</span>
                                    </div>
                                    <div class="chip">
                                        <i class="fa-solid fa-clock me-2"></i>
                                        <span>8 hour shift</span>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-danger btn-apply-now mt-2">Apply Now!</button>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">IT Sales Associate</h4>
                                <div class="hstack gap-2">
                                    <div class="chip">
                                        <i class="fa-solid fa-money-bills me-2"></i>
                                        <span>Php 30,000 a month</span>
                                    </div>
                                    <div class="chip">
                                        <i class="fa-solid fa-briefcase me-2"></i>
                                        <span>Full-time</span>
                                    </div>
                                    <div class="chip">
                                        <i class="fa-solid fa-clock me-2"></i>
                                        <span>8 hour shift</span>
                                    </div>
                                </div>
                                <div class="hstack gap-2">
                                    <div class="chip chip-important">
                                        <i class="fa-solid fa-clock me-2"></i>
                                        <span>Urgently Hiring</span>
                                    </div>
                                    <div class="chip chip-important">
                                        <i class="fa-solid fa-user-plus"></i>
                                        <span>Multiple Candidates</span>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-danger btn-apply-now mt-2">Apply Now!</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="vr" style="height: 100%; background-color:black"></div>
                </div>
                <div class="col-md-5">
                    <h3 class="text-center mt-md-5 pt-md-5">Already Applied?<br>Check your status here!</h3>
                    <!-- <div class="form-outline">
                        <input type="text" id="form12" class="form-control" />
                        <label class="form-label" for="form12">Example label</label>
                    </div> -->
                    <div class="vstack" style="align-items: center;">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">#</span>
                            <input type="text" class="form-control" placeholder="Tracker ID" aria-label="tracker_id" aria-describedby="basic-addon1">
                        </div>
                        <button type="button" class="btn btn-danger btn-apply-now">Check Status!</button>
                    </div>
                    <div class="card mt-5">
                        <div class="card-body" style="background-color: hsla(0, 0%, 0%, 0.1);">
                            <h3 class="text-center my-5">View your result here!</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>