*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #EAEAEA;
}

img.logo {
    align-content: center;
}

.wrapper {
    max-width: 1920px;
    margin: 0px auto;
    background: white;
}

.button {
    padding: 16px 32px;
    border-radius: 24px;
    display: inline-block
}

    .button.dark {
        background: #DF0B0E;
        color: aliceblue;
    }

    .button a {
        font-size: 15px;
    }


header {
    height = 100px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
}

    nav ul {
        display: flex;
        align-items: center;
        gap: 0px;
        list-style: none;
        margin: 0px;
    }

        nav ul li a {
            text-decoration: none;
        }

.main {
    text-align: center;
    padding: 10px;
}
