@using Basecode.Data.Models
@model JobOpening
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Create Job Opening</h5>
                <button type="button" class="close" style="border: 0px; background-color: white;" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Add">
                    <div class="form-group">
                        <label for="job-title" class="col-form-label">Job Title:</label>
                        <input asp-for="Title" type="text" class="form-control" id="job-title">
                    </div>
                    <div class="form-group">
                        <label for="job-department" class="col-form-label">Description:</label>
                        <input asp-for="Description"type="text" class="form-control" id="job-department">
                    </div>
                    <div class="form-group">
                        <label for="experience-level" class="col-form-label">Experience Level:</label>
                        <input asp-for="ExperienceLevel" type="text" class="form-control" id="experience-level">
                    </div>
                    <div class="form-group">
                        <label for="job-requirements" class="col-form-label">Employment Type:</label>
                        <textarea asp-for="EmploymentType" class="form-control" id="job-requirements"></textarea>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-danger" />
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>